html {
    background-color: azure;
}

#homepage-title {
    display: flex;
    text-align: center;
    margin: auto;
    width: 550px;
}

#homepage-display-btn-container {
    position : fixed;
    align-items: center;
    justify-self: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    margin: 30px;
}


#homepage-search-bar {
    width: 200px;
    margin-bottom: 1rem;
}

#homepage-display-btn {
    margin-top: 30px;
    background: rgb(181, 255, 181);
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
}